.Footer {
  color: #ffffff;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  text-transform: uppercase;
}

.little {
  color: #90aab7;
  font-size: 1em;
}
